<%= render "layouts/navbar2" %>
<% if current_user.bookings.empty? %>
  <div class="alert alert-success">
    <p>Empty Borrowed books</p>
  </div>
<% end %>
<div class="container">
    <div class="col-lg-12", style="margin-top: 65px;" >
      <div class="row">
          <% @borrowed_books.each do |book| %>
            <div class="col-lg-3">
              <div class="card mb-5" style="width: 18rem; margin-left: 20px; margin-top: 30px">
                <!-- <%# link_to book_path(book) do %> -->
                <!-- <img class="card-img-top" src="https://img.freepik.com/premium-photo/opened-book-with-flying-pages-butterflies-dark-backgroundgenerative-ai_391052-12859.jpg" alt="Card image cap"> -->
                <!-- <%# image_tag url_for(book.front_page), class: "card-img-top", style: "height: 300px;" %> -->
                <!-- <%# end %> -->
                <% if book.pdf.attached? %>
                <div onclick="showPDF('<%= book.id %>')" id="image-<%= book.id %>">
                  <%= image_tag url_for(book.front_page),
                  class: "w-100", id: "clickable-image",
                  alt: "Sample photo" %>
                </div>
              <!-- </img> -->
              <iframe class="d-none" id="pdf-iframe-<%= book.id %>" width="100%" height="400" src="<%= rails_blob_path(book.pdf, disposition: 'inline') %>"></iframe>
                <script>
                  function showPDF(id){
                    $(`#image-${id}`).addClass("d-none")
                    $(`#pdf-iframe-${id}`).removeClass("d-none")
                    // $('#pdf-iframe-1').addClass("d-block")
                    // $(`#pdf-iframe-${id}`).attr("src", "<%# rails_blob_path(book.pdf, disposition: 'inline') %>");
                  }
                  // var pdfIframe = document.getElementById('pdf-iframe');
                  // var imageElement = document.getElementById('clickable-image');
                  // pdfIframe.style.display = 'none';
                  // imageElement.addEventListener('click', function() {
                  //   // Set the PDF source and make the iframe visible when the image is clicked.
                  //   var pdfSrc = "<%= rails_blob_path(book.pdf, disposition: 'inline') %>";
                  //   pdfIframe.src = pdfSrc;
                  //   pdfIframe.style.display = 'block';
                  //   imageElement.style.display = 'none';
                  // });
                 </script>
              <!-- <%# end %> -->
              <% else %>
              <p>No PDF file attached</p>
              <% end %>

                  <div class="card-body">
                    <h5 class="card-title"><strong>Status: </strong><%= book&.status%></h5>
                    <h5 class="card-title"><strong>Type: </strong><%= book&.type%></h5>
                    <h5 class="card-title"><strong>Deadline: </strong><%= book.booking.due_date %></h5>

                    <%= link_to "Details", book_path(book), class: "btn btn-info"%>

                    <td><%= link_to 'return', booking_path(book), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'},  class: "btn btn-outline-success btn-md", role: "button" %>
                    <% if current_user %>
                    <% if user_signed_in? %>
                      <% if current_user.has_role?('librarian') %>
                      <td><%= link_to 'Delete', book_path(book), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'},  class: "btn btn-outline-success btn-md", role: "button" %>
                      <td><%= link_to 'update', "/books/#{book.id}/edit",  class: "btn btn-outline-success btn-md", role: "button" %>
                      <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>
      </div>
    </div>
</div>


