<%= render "layouts/header"%>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= render "layouts/new_header"%>
<div class="container" id="home-container">
  <div id="div1">
    <img src="https://images.pexels.com/photos/1106468/pexels-photo-1106468.jpeg?cs=srgb&dl=pexels-abby-chung-1106468.jpg&fm=jpg" alt="Description of the image" id="home-image">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="container" style="margin-top: 40px;">
          <p>The purpose of a library management system is to operate a library with efficiency and at reduced costs. <br> The system being entirely automated streamlines all the tasks involved in operations of the library. The <br> activities of book purchasing, cataloging, indexing, circulation recording and stock checking are done by <br> the software. Such software eliminates the need for repetitive manual work and minimizes the chances of <br> errors.</p>
        
          <p>The library management system software helps in reducing operational costs. Managing a library manually is labor intensive and an immense amount of paperwork is involved. An automated system reduces the need for manpower and stationery. This leads to lower operational costs.
          
          The system saves time for both the user and the librarian. With just a click the user can search for the books available in the library. The librarian can answer queries with ease regarding the availability of books. Adding, removing or editing the database is a simple process. Adding new members or cancelling existing memberships can be done with ease.</p>
          
          <p>Stock checking and verification of books in the library can be done within a few hours. The automated system saves a considerable amount of time as opposed to the manual system.</p>
          
          <p>The library management system software makes the library a smart one by organizing the books systematically by author, title and subject. This enables users to search for books quickly and effortlessly.</p>
          
          <p>Students need access to authentic information. An advanced organized library is an integral part of any educational institution. In this digital age a web based library management system would be ideal for students who can access the library’s database on their smartphones.</p>
        </div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>



































<!-- 
<div class="text-center">
<h1>This is Home</h1>

<% if user_signed_in? %>
<p><%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-lg btn-success" %></p>
<p><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-danger" %></p>
<% else %>
<p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-success" %></p>
<p><%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-success" %></p>
<% end %> -->
<!-- <% if user_signed_in? %>
<li role="separator" class="divider"></li>
<li><%= button_to "Logout", destroy_user_session_path, method: :delete %></li>
<% end %> -->
  <!-- card -->
<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa130Z7yHYY6V8ob032JIggtoQkKfMBKnd4w&usqp=CAU" alt="Card image cap" style="height: 220px">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">buy</a>
  </div>
</div>


<td><%=link_to "new", new_book_path, class: "btn btn-lg btn-danger"%></td>
<p>
  total signed-in users:  <%= User.count %>
  the role of this user is: <%= current_user%>
</p>

<% if current_user %>
<p>hy! <strong><%= current_user.email%> </strong> wellcome</p>
<p>you are successfully sign_in</p>
<% else %>
<p>not logged in</p>
<% end %>
</div> -->