<h1 style="display: flex; justify-content: center;">index</h1>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ISBN</th>
      </tr>
    </thead>
    <tbody>
        <% @books.each_with_index do |i, a|%>
      <tr>
        <th scope="row"><%= a + 1 %></th>
        <td><%= i.title%></td>
        <td><%= i.author%></td>
        <td><%= i.isbn%></td>
      </tr>
        <% end %> 
    </tbody>
  </table>
<td><%=link_to "new", new_book_path, class: "btn btn-md btn-success"%></td>
