<div class="text-center">
<h1>Create Book</h1>
<%= form_with model: @book do |i|%>
<div>
    <%= i.label :title%>
    <%= i.text_field :title%>
</div>
<div>
    <%= i.label :author%>
    <%= i.text_field :author%>
</div>
<div>
    <%= i.label :ISBN%>
    <%= i.text_field :isbn%>
</div>
<div>
    <%= i.label :pdf %>
    <%= i.file_field :pdf %>
</div>
<div>
    <%= i.submit%>
</div>
<% end %>
<%= link_to "return", root_path %>
</div>