<%= render "layouts/navbar2" %>
<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6" style="display: flex;
      justify-content: center;">
        <div class="card rounded-3" style="width: 500px;">
          <% if @book.pdf.attached? %>
          <%= link_to rails_blob_path(@book.pdf, disposition: 'inline'), target: '_blank' do %>
          <img src="https://img.freepik.com/premium-photo/opened-book-with-flying-pages-butterflies-dark-backgroundgenerative-ai_391052-12859.jpg"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <% end %>
          <% else %>
          <p>No PDF file attached</p>
          <% end %>

          <div class="card-body p-1 p-md-3" style="margin-left: 48px;">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-3 px-md-2">Book Detail</h3>

            <form class="px-md-2">

                <div class="form-outline ">
                  <p><strong style="margin-right: 40px;">Title: </strong><%= @book.title %></p>
                </div>
                <div class="col-md-6 ">
                  <p><strong style="margin-right: 22px;">Author: </strong><%= @book.author %></p>
                </div>
                <div class="col-md-6 ">
                  <p><strong style="margin-right: 35px;">ISBN: </strong><%= @book.isbn %></p>
                </div>
                <div class="col-md-6 ">
                  <p><strong style="margin-right: 26px;">Status: </strong><%= @book.status %></p>
                </div>
                <div class="col-md-6 ">
                  <p><strong style="margin-right: 37px;">Type: </strong><%= @book.type %></p>
                </div>
              <button type="submit" class="btn btn-success btn-lg mb-1">Book Now</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

