<div class="text-center" id="header_style">
    <img src="	https://www.skoolbeep.com/blog/wp-content/uploads/2021/03/library-management-bnr.jpg" alt="image loading" id="image_head">
    <div id="navbar">
        <!-- <div id="lib">Library Management</div> -->
        <%= link_to new_user_session_path do %>
        <img src="https://static.studytonight.com/css/resource.v3/icons/studytonight/svg/st-logo-dark.svg" alt="" id="image2_head">
        <% end %>
        <a class="small text-muted decoration" href="/books", id="decoration-none" >Home</a>
        <a class="small text-muted decoration" href="/pages/benefit", id="decoration-none">Benefits</a>
        <a class="small text-muted decoration" href="/pages/faq", id="decoration-none">FAQ</a>
        <% if user_signed_in? %>
        <%= link_to "Edit", edit_user_registration_path, style: "text-decoration: none; color: var(--bs-secondary-color) !important;", class: "decoration"%>
        <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, style: "text-decoration: none; color: var(--bs-secondary-color) !important;", class: "decoration" %>
        <% else %>
            <%= link_to "Login", new_user_session_path, id: "decoration-none", class: "decoration" %>
            <%= link_to "Sign up", new_user_registration_path, id: "decoration-none", class: "decoration" %>
        <% end %>
    </div>
</div>