<div class="container">
    <div class="col-lg-12", style="margin-top: 65px;" >
      <div class="row">
          <% @books.each do |book| %>
            <div class="col-lg-3">
              <div class="card mb-5" style="width: 18rem; margin-left: 20px; margin-top: 30px">
                <%= link_to book_path(book) do %>
                <%= image_tag url_for(book.front_page), class: "card-img-top", style: "height: 374px;border: 4px solid;color: #cfc3c3;" %>
                <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><strong>Status: </strong><%= book.status%></h5>
                    <h5 class="card-title"><strong>Type: </strong><%= book.type%></h5>
                   <div style="display: flex; justify-content: center">
                    <%= form_with(url: "/reserve/", method: :post) do |form| %>
                    <%= form.hidden_field :id, value: book.id %>
                      <% if book.status != "Available" && user_signed_in?%>
                      <button type="submit" class="btn btn-warning" id="book-now-button">reserve</button>
                      <% end %>
                    <% end %>

                    <%= link_to "Details", book_path(book), class: "btn btn-success", style: "height: 36px;" %>
                    <%= form_with(url: "/bookings/", method: :post, id: "booking-form") do |form| %>
                      <%= form.hidden_field :id, value: book.id %>
                      <button type="submit" class="btn btn-warning inline-button" id="book-now-button", style= "height: 36px;">Add</button>
                    <% end %>
                  </div>

                    <script>
                      document.addEventListener("DOMContentLoaded", function () {
                        const bookingForm = document.getElementById("booking-form");
                        const bookNowButton = document.getElementById("book-now-button");
                      
                        bookNowButton.addEventListener("click", function (event) {
                          event.preventDefault();
                          const borrowed_books = Book.status("Borrowed");
                          // Check the book status here (you need to replace this with your actual logic)
                          //const isBookBorrowed = true; // Replace with your logic to check if the book is already borrowed
                        
                          if (borrowed_books) {
                            alert("This book is already borrowed.");
                          } else {
                            // If the book is not already borrowed, submit the form
                            bookingForm.submit();
                          }
                        });
                      });
                    </script>
                  </div>
                </div>
              </div>
          <% end %>
      </div>
    </div>
</div>