<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top ">
  <!-- class="navbar navbar-dark bg-dark" -->
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <%= link_to books_path do %>
      <img
        src="https://static.studytonight.com/css/resource.v3/icons/studytonight/svg/st-logo-dark.svg"
        height= "50px"
        margin-left="40px"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
      <% end %>
      <a href="/" style=" color: #757575; margin-left: 50px; margin-top: 10px; text-decoration: none;">Home</a>
      <!-- <button href= "/books" class="btn btn-success" style="margin-left: 15px">Home</button> -->

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Dashboard</a> -->
        </li>
      </ul>
      <!-- Left links -->
      <div class="d-flex align-items-center ">
        <% if user_signed_in? %>
        <button type="button" class="btn btn-green px-3 me-2">
          <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-lg btn-success" %>
          <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} , class: "btn btn-lg btn-danger" %>
        </button>
        <% else %>
        <button type="button" class="btn me-3">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-success" %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-success" %>
        </button>
        <% end %>
      </div>
      <!-- using helper -->
      <% if user_signed_in? %>
      <%= user_profile_link(current_user)%>
      <% end %>



      <!-- <% if current_user.present? && current_user.profile_picture.attached? %> -->
      <!-- turnary operator: ? : -->
      <!-- <% link = current_user.has_role?('member')? '/memberprofiles' : '/adminprofiles' %> -->
        <!-- <% if current_user.has_role?('member')%> -->
          <!-- <%= link_to link do %>
            <img
            src="<%= image_tag url_for(current_user.profile_picture) %>"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"/>
          <% end %> -->
        <!-- <% elsif current_user.has_role?('librarian') %>
            <%= link_to '/adminprofiles' do %>
              <img
              src="<%= image_tag url_for(current_user.profile_picture) %>"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"/>
            <% end %> -->
        <!-- <% end %> -->
      <!-- <% end %> -->

    
     
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->






