<!DOCTYPE html>
<html>
  <head>
    <title>LibraryManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'header_file' %>
    <%= stylesheet_link_tag 'profile' %>

    <%= stylesheet_link_tag 'pages_privacy' %>
    <%= stylesheet_link_tag 'devise' %>
    <%= stylesheet_link_tag 'footer' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Add MDB CSS (choose the version you need) -->
    <link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.11.0/css/mdb.min.css" rel="stylesheet">
      
    <!-- Add MDB JavaScript (choose the version you need) -->
    <script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.11.0/js/mdb.min.js"></script>
      
  </head>

  <body style="text-decoration: none;">
    <!-- header -->
    <%= yield %>
    <%= render "layouts/footer"%>
  </body>
</html>
